<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet"
        href="style/index.css">
  <script src="scripts/vue.min.js"></script>
</head>

<body>
  <div id="app"
       :class="{ full: accessToken && notifications && isUIEnabled }">
    <!-- 登录 -->
    <div id="login"
         v-if="!accessToken && isUIEnabled">
      <div id="qrcode-container">
        <div class="qrcode-framer"
             v-if="isQrCodeLoading">
          <p v-if="isQrCodeScanning">请在手机上点击<br><b>确认登陆</b></p>
        </div>
        <div id="qrcode"></div>
      </div>
    </div>
    <!-- 通知列表 -->
    <div id="notification"
         v-if="accessToken && notifications && isUIEnabled">
      <div class="n-item"
           v-for="item in notifications"
           :class="{ viewed: item.isViewed && isNotificationCheckingFunctionEnabled }">
        <!-- 赞了你的动态 -->
        <div class="n-item-list"
             v-if="item.type === 'LIKE_PERSONAL_UPDATE'">
          <div class="n-like-users">
            <div class="n-like-users-name">
              <a v-for="user in item.actionItem.users">{{ user.screenName }}</a>
              <span v-if="item.actionItem.users.length > 1">等 {{ item.actionItem.usersCount }} 人</span>赞了你的动态
            </div>
            <div class="n-like-users-avatar">
              <a v-for="avatar in item.actionItem.users"
                 :href="'https://web.okjike.com/user/' + avatar.username"
                 :class="{ verified: avatar.isVerified }"
                 :style="{ backgroundImage: 'url(' + avatar.profileImageUrl + ')' }"
                 target="_blank"></a>
            </div>
          </div>
          <div class="n-like-inline-block">
            <!-- 该动态已删除 -->
            <div class="n-like-no-link"
                 v-if="item.referenceItem.status === 'DELETED'"></div>
            <!-- 动态 - 有图 -->
            <a class="n-like-post"
               v-if="item.referenceItem.referenceImageUrl"
               :style="{ backgroundImage: 'url(' + item.referenceItem.referenceImageUrl + ')' }"
               :href="'https://web.okjike.com/' + (item.referenceItem.type === 'OFFICIAL_MESSAGE' ? 'message-detail/' : 'post-detail/') + item.referenceItem.id + '/' + (item.referenceItem.type === 'ORIGINAL_POST' ? 'originalPost' : item.referenceItem.type === 'OFFICIAL_MESSAGE' ? 'officialMessage' : item.referenceItem.type)"
               target="_blank">
            </a>
            <!-- 动态 - 无图 -->
            <a class="n-like-post"
               v-else
               :href="'https://web.okjike.com/' + (item.referenceItem.type === 'OFFICIAL_MESSAGE' ? 'message-detail/' : 'post-detail/') + item.referenceItem.id + '/' + (item.referenceItem.type === 'ORIGINAL_POST' ? 'originalPost' : item.referenceItem.type === 'OFFICIAL_MESSAGE' ? 'officialMessage' : item.referenceItem.type)"
               target="_blank">
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
          </div>
        </div>
        <!-- 赞了你的评论 -->
        <div class="n-item-list"
             v-else-if="item.type === 'LIKE_PERSONAL_UPDATE_COMMENT' ||
             item.type === 'LIKE_COMMENT' ||
             item.type === 'LIKE_ANSWER_COMMENT'">
          <div class="n-like-users">
            <div class="n-like-users-name">
              <a v-for="user in item.actionItem.users">{{ user.screenName }}</a>
              <span v-if="item.actionItem.users.length > 1">等 {{ item.actionItem.usersCount }} 人</span>赞了你的评论
            </div>
            <div class="n-like-users-avatar">
              <a v-for="avatar in item.actionItem.users"
                 :class="{ verified: avatar.isVerified }"
                 :href="'https://web.okjike.com/user/' + avatar.username"
                 :style="{ backgroundImage: 'url(' + avatar.profileImageUrl + ')' }"
                 target="_blank"></a>
            </div>
          </div>
          <div class="n-like-inline-block">
            <!-- 该动态已删除 -->
            <div class="n-like-no-link"
                 v-if="item.referenceItem.status === 'DELETED'"></div>
            <a class="n-like-post"
               v-if="item.type === 'LIKE_PERSONAL_UPDATE_COMMENT' || item.type === 'LIKE_COMMENT'"
               :href="'https://web.okjike.com/' + (item.referenceItem.targetType === 'OFFICIAL_MESSAGE' ? 'message-detail/' : 'post-detail/') + item.referenceItem.targetId + '/' + (item.referenceItem.targetType === 'ORIGINAL_POST' ? 'originalPost' : item.referenceItem.targetType === 'OFFICIAL_MESSAGE' ? 'officialMessage' : item.referenceItem.targetType)"
               target="_blank">
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
            <a class="n-like-post"
               v-else-if="item.type === 'LIKE_ANSWER_COMMENT'">
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
          </div>
        </div>
        <!-- 赞了你的提问 -->
        <div class="n-item-list"
             v-else-if="item.type === 'LIKE_QUESTION'">
          <div class="n-like-users">
            <div class="n-like-users-name">
              <a v-for="user in item.actionItem.users">{{ user.screenName }}</a>
              <span v-if="item.actionItem.users.length > 1">等 {{ item.actionItem.usersCount }} 人</span>赞了你的提问
            </div>
            <div class="n-like-users-avatar">
              <a v-for="avatar in item.actionItem.users"
                 :class="{ verified: avatar.isVerified }"
                 :href="'https://web.okjike.com/user/' + avatar.username"
                 :style="{ backgroundImage: 'url(' + avatar.profileImageUrl + ')' }"
                 target="_blank"></a>
            </div>
          </div>
          <div class="n-like-inline-block">
            <!-- 该动态已删除 -->
            <div class="n-like-no-link"
                 v-if="item.referenceItem.status === 'DELETED'"></div>
            <a class="n-like-post">
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
          </div>
        </div>
        <!-- 赞了你的回答 -->
        <div class="n-item-list"
             v-else-if="item.type === 'UPVOTE_ANSWER'">
          <div class="n-like-users">
            <div class="n-like-users-name">
              <a v-for="user in item.actionItem.users">{{ user.screenName }}</a>
              <span v-if="item.actionItem.users.length > 1">等 {{ item.actionItem.usersCount }} 人</span>赞了你的回答
            </div>
            <div class="n-like-users-avatar">
              <a v-for="avatar in item.actionItem.users"
                 :class="{ verified: avatar.isVerified }"
                 :href="'https://web.okjike.com/user/' + avatar.username"
                 :style="{ backgroundImage: 'url(' + avatar.profileImageUrl + ')' }"
                 target="_blank"></a>
            </div>
          </div>
          <div class="n-like-inline-block">
            <!-- 该动态已删除 -->
            <div class="n-like-no-link"
                 v-if="item.referenceItem.status === 'DELETED'"></div>
            <a class="n-like-post">
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
          </div>
        </div>
        <!-- 转发了你的动态 -->
        <div class="n-item-list"
             v-else-if="item.type === 'PERSONAL_UPDATE_REPOSTED'">
          <a class="n-repost-avatar"
             target="_blank"
             :class="{ verified: item.actionItem.users[0].isVerified }"
             :style="{ backgroundImage: 'url(' + item.actionItem.users[0].profileImageUrl + ')' }"
             :href="'https://web.okjike.com/user/' + item.actionItem.users[0].username"></a>
          <div class="n-repost-user">
            <p class="n-repost-users-name">{{ item.actionItem.users[0].screenName }} 转发了你的动态</p>
            <p class="n-repost-users-comment">{{ item.actionItem.content ? item.actionItem.content + '&nbsp;' : '' }}
              <a @click.self.stop="previewImage(item.actionItem.pictures[0].picUrl)"
                 v-if="item.actionItem.pictures.length > 0">查看图片</a>
            </p>
          </div>
          <div class="n-like-inline-block">
            <!-- 该动态已删除 -->
            <div class="n-like-no-link"
                 v-if="item.referenceItem.status === 'DELETED'"></div>
            <!-- 动态 - 有图 -->
            <a class="n-repost-post"
               v-if="item.referenceItem.referenceImageUrl"
               :style="{ backgroundImage: 'url(' + item.referenceItem.referenceImageUrl + ')' }"
               :href="'https://web.okjike.com/post-detail/' + item.actionItem.id + '/repost'"
               target="_blank">
            </a>
            <!-- 动态 - 无图 -->
            <a class="n-repost-post"
               v-else
               :href="'https://web.okjike.com/post-detail' + item.actionItem.id + '/repost'"
               target="_blank">
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
          </div>
        </div>
        <!-- 评论了你 -->
        <div class="n-item-list"
             v-else-if="item.type === 'COMMENT_PERSONAL_UPDATE'">
          <a class="n-comment-avatar"
             target="_blank"
             :class="{ verified: item.actionItem.users[0].isVerified }"
             :style="{ backgroundImage: 'url(' + item.actionItem.users[0].profileImageUrl + ')' }"
             :href="'https://web.okjike.com/user/' + item.actionItem.users[0].username"></a>
          <div class="n-comment-user">
            <p class="n-comment-users-name">
              <span>{{ item.actionItem.users[0].screenName }}</span> 评论了你
            </p>
            <p class="n-comment-users-comment">{{ item.actionItem.content ? item.actionItem.content + '&nbsp;' : '' }}
              <a @click.self.stop="previewImage(item.actionItem.pictures[0].picUrl)"
                 v-if="item.actionItem.pictures.length > 0">查看图片</a>
            </p>
          </div>
          <div class="n-like-inline-block">
            <!-- 该动态已删除 -->
            <div class="n-like-no-link"
                 v-if="item.referenceItem.status === 'DELETED'"></div>
            <!-- 动态 - 有图 -->
            <a class="n-comment-post"
               v-if="item.referenceItem.referenceImageUrl"
               :style="{ backgroundImage: 'url(' + item.referenceItem.referenceImageUrl + ')' }"
               :href="'https://web.okjike.com/' + (item.referenceItem.type === 'OFFICIAL_MESSAGE' ? 'message-detail/' : 'post-detail/') + item.referenceItem.id + '/' + (item.referenceItem.type === 'ORIGINAL_POST' ? 'originalPost' : item.referenceItem.type === 'OFFICIAL_MESSAGE' ? 'officialMessage' : item.referenceItem.type)"
               target="_blank">
            </a>
            <!-- 动态 - 无图 -->
            <a class="n-comment-post"
               v-else
               :href="'https://web.okjike.com/' + (item.referenceItem.type === 'OFFICIAL_MESSAGE' ? 'message-detail/' : 'post-detail/') + item.referenceItem.id + '/' + (item.referenceItem.type === 'ORIGINAL_POST' ? 'originalPost' : item.referenceItem.type === 'OFFICIAL_MESSAGE' ? 'officialMessage' : item.referenceItem.type)"
               target="_blank">
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
          </div>
        </div>
        <!-- 回复了你 -->
        <div class="n-item-list"
             v-else-if="item.type === 'REPLIED_TO_PERSONAL_UPDATE_COMMENT' ||
             item.type === 'REPLY_TO_COMMENT' ||
             item.type === 'REPLIED_TO_ANSWER_COMMENT'">
          <a class="n-comment-avatar"
             target="_blank"
             :class="{ verified: item.actionItem.users[0].isVerified }"
             :style="{ backgroundImage: 'url(' + item.actionItem.users[0].profileImageUrl + ')' }"
             :href="'https://web.okjike.com/user/' + item.actionItem.users[0].username"></a>
          <div class="n-comment-user">
            <p class="n-comment-users-name">
              <span>{{ item.actionItem.users[0].screenName }}</span> 回复了你
            </p>
            <p class="n-comment-users-comment">{{ item.actionItem.content ? item.actionItem.content + '&nbsp;' : '' }}
              <a @click.self.stop="previewImage(item.actionItem.pictures[0].picUrl)"
                 v-if="item.actionItem.pictures.length > 0">查看图片</a>
            </p>
          </div>
          <div class="n-like-inline-block">
            <!-- 该动态已删除 -->
            <div class="n-like-no-link"
                 v-if="item.referenceItem.status === 'DELETED'"></div>
            <!-- 动态 - 有图 -->
            <a class="n-comment-post"
               v-if="item.referenceItem.referenceImageUrl && item.type !== 'REPLIED_TO_ANSWER_COMMENT'"
               :style="{ backgroundImage: 'url(' + item.referenceItem.referenceImageUrl + ')' }"
               :href="'https://web.okjike.com/' + (item.referenceItem.targetType === 'OFFICIAL_MESSAGE' ? 'message-detail/' : 'post-detail/') + item.referenceItem.targetId + '/' + (item.referenceItem.targetType === 'ORIGINAL_POST' ? 'originalPost' : item.referenceItem.targetType === 'OFFICIAL_MESSAGE' ? 'officialMessage' : item.referenceItem.targetType)"
               target="_blank">
            </a>
            <!-- 动态 - 无图 -->
            <a class="n-comment-post"
               v-else-if="!item.referenceItem.referenceImageUrl && item.type !== 'REPLIED_TO_ANSWER_COMMENT'"
               :href="'https://web.okjike.com/' + (item.referenceItem.targetType === 'OFFICIAL_MESSAGE' ? 'message-detail/' : 'post-detail/') + item.referenceItem.targetId + '/' + (item.referenceItem.targetType === 'ORIGINAL_POST' ? 'originalPost' : item.referenceItem.targetType === 'OFFICIAL_MESSAGE' ? 'officialMessage' : item.referenceItem.targetType)"
               target="_blank">
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
            <!-- 动态 - 有图 -->
            <a class="n-comment-post"
               v-else-if="item.referenceItem.referenceImageUrl && item.type === 'REPLIED_TO_ANSWER_COMMENT'"
               :style="{ backgroundImage: 'url(' + item.referenceItem.referenceImageUrl + ')' }">
            </a>
            <!-- 动态 - 无图 -->
            <a class="n-comment-post"
               v-else-if="!item.referenceItem.referenceImageUrl && item.type === 'REPLIED_TO_ANSWER_COMMENT'">
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
          </div>
        </div>
        <!-- 回答了你的问题 -->
        <div class="n-item-list"
             v-else-if="item.type === 'ANSWER_QUESTION'">
          <a class="n-comment-avatar"
             target="_blank"
             :class="{ verified: item.actionItem.users[0].isVerified }"
             :style="{ backgroundImage: 'url(' + item.actionItem.users[0].profileImageUrl + ')' }"
             :href="'https://web.okjike.com/user/' + item.actionItem.users[0].username"></a>
          <div class="n-comment-user">
            <p class="n-comment-users-name">
              <span>{{ item.actionItem.users[0].screenName }}</span> 回答了你的问题
            </p>
            <p class="n-comment-users-comment">{{ item.actionItem.content ? item.actionItem.content + '&nbsp;' : '' }}
              <a @click.self.stop="previewImage(item.actionItem.pictures[0].picUrl)"
                 v-if="item.actionItem.pictures.length > 0">查看图片</a>
            </p>
          </div>
          <div class="n-like-inline-block">
            <!-- 该动态已删除 -->
            <div class="n-like-no-link"
                 v-if="item.referenceItem.status === 'DELETED'"></div>
            <!-- 动态 - 有图 -->
            <a class="n-comment-post"
               v-if="item.referenceItem.referenceImageUrl"
               :style="{ backgroundImage: 'url(' + item.referenceItem.referenceImageUrl + ')' }">
            </a>
            <!-- 动态 - 无图 -->
            <a class="n-comment-post"
               v-else>
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
          </div>
        </div>
        <!-- 评论了你的回答 -->
        <div class="n-item-list"
             v-else-if="item.type === 'COMMENT_ANSWER'">
          <a class="n-comment-avatar"
             target="_blank"
             :class="{ verified: item.actionItem.users[0].isVerified }"
             :style="{ backgroundImage: 'url(' + item.actionItem.users[0].profileImageUrl + ')' }"
             :href="'https://web.okjike.com/user/' + item.actionItem.users[0].username"></a>
          <div class="n-comment-user">
            <p class="n-comment-users-name">
              <span>{{ item.actionItem.users[0].screenName }}</span> 评论了你的回答
            </p>
            <p class="n-comment-users-comment">{{ item.actionItem.content ? item.actionItem.content + '&nbsp;' : '' }}
              <a @click.self.stop="previewImage(item.actionItem.pictures[0].picUrl)"
                 v-if="item.actionItem.pictures.length > 0">查看图片</a>
            </p>
          </div>
          <div class="n-like-inline-block">
            <!-- 该动态已删除 -->
            <div class="n-like-no-link"
                 v-if="item.referenceItem.status === 'DELETED'"></div>
            <!-- 动态 - 有图 -->
            <a class="n-comment-post"
               v-if="item.referenceItem.referenceImageUrl"
               :style="{ backgroundImage: 'url(' + item.referenceItem.referenceImageUrl + ')' }">
            </a>
            <!-- 动态 - 无图 -->
            <a class="n-comment-post"
               v-else>
              <span v-if="!item.referenceItem.referenceImageUrl"
                    v-html="item.referenceItem.content.replace(/\n/g, '<br/>')"></span>
            </a>
          </div>
        </div>
        <!-- 关注了你 -->
        <div class="n-item-list"
             v-else-if="item.type === 'USER_FOLLOWED'">
          <a class="n-comment-avatar"
             target="_blank"
             :class="{ verified: item.actionItem.users[0].isVerified }"
             :style="{ backgroundImage: 'url(' + item.actionItem.users[0].profileImageUrl + ')' }"
             :href="'https://web.okjike.com/user/' + item.actionItem.users[0].username"></a>
          <div class="n-comment-user">
            <p class="n-comment-users-name">
              <span>{{ item.actionItem.users[0].screenName }}</span> 关注了你
            </p>
            <p class="n-comment-users-comment">{{ item.actionItem.users[0].briefIntro }}</p>
          </div>
          <div class="n-like-inline-block">
            <a class="n-comment-post"></a>
          </div>
        </div>
        <!-- 未知消息类型 -->
        <div class="n-unknown"
             v-else>
          <div>不支持的消息类型<br>
            <a :href="'https://github.com/coder-ysj/jike-meow/issues/new?title=当前正在使用的版本号: ' + chrome.runtime.getManifest().version"
               target="_blank">点击此处</a> 反馈给作者</div>
        </div>
        <!-- 时间显示 -->
        <div class="n-time-display">{{ reformatTime(item.updatedAt) }}</div>
      </div>
      <!-- 正在加载 -->
      <p id="notification-loading"
         v-if="isNotificationLoading">🐱 正在加载数据…</p>
      <!-- 加载失败 -->
      <p id="notification-error"
         v-if="isError"
         @click.self.stop="getNotificationList()">🌚 加载失败，请点击重试</p>
    </div>
    <!-- 按钮 -->
    <button class="primary"
            @click.self.stop="getUuid()"
            v-if="!accessToken && isUIEnabled">刷新二维码</button>
    <div class="button-container"
         v-if="accessToken && isUIEnabled">
      <button class="primary half"
              @click.self.stop="logIn()">网页登录</button>
      <button class="primary half"
              style="margin-left: 10px;"
              @click.self.stop="logOut()">退出登录</button>
    </div>
    <div class="button-container"
         v-if="authToken">
      <button v-if="!isNotificationLoading"
              class="half"
              style="margin-right: 10px;"
              @click.self.stop="getNotificationList('refresh')">查看最新通知</button>
      <button v-else="isNotificationLoading"
              class="half"
              style="opacity: .6; margin-right: 10px;">刷新中…</button>
      <button class="half"
              v-if="!isNotificationCheckingFunctionEnabled"
              @click.self.stop="toggleNotificationFunction(true)">开启阅读历史</button>
      <button class="half"
              v-else
              @click.self.stop="toggleNotificationFunction(false)">关闭阅读历史</button>
    </div>
    <!-- 图片查看器 -->
    <div id="image"
         v-if="enlargedImage">
      <div>
        <img :src="enlargedImage"
             @click.self.stop="enlargedImage = ''">
        <span @click.self.stop="openImage()">查看原图</span>
      </div>
    </div>
  </div>
  <script src="scripts/axios.min.js"></script>
  <script src="scripts/socket.io.js"></script>
  <script src="scripts/qrcode.min.js"></script>
  <script src="popup.js"></script>
</body>

</html>