<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet"
        href="style/index.css">
  <script src="scripts/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <div id="login">
      <div id="qrcode-container">
        <div class="qrcode-framer"
             v-if="qr_loading">
          <p v-if="qr_scanning">请在手机上点击<br><b>确认登陆</b></p>
        </div>
        <div id="qrcode"></div>
      </div>
    </div>
    <button class="primary"
            @click.self.stop="getUuid()"
            v-if="!access_token">刷新二维码</button>
    <button class="primary"
            @click.self.stop="logOut()"
            v-else>退出登录</button>
    <button id="follow-me"
            @click.self.stop="window.open('https://web.okjike.com/user/F39BF844-7BF9-4754-8E7C-189CA3A35644/post', '_blank')">关注我的即刻</button>
  </div>
  <script src="scripts/axios.min.js"></script>
  <script src="scripts/qrcode.min.js"></script>
  <script src="scripts/socket.io.dev.js"></script>
  <script src="popup.js"></script>
</body>

</html>